h1{
    color:white;
  }

  h4{
    color: rgb(255, 255, 255);
  }

  .dark{
    color: rgb(255, 255, 255);
}



.apprb{
  color: rgb(51, 255, 0);
}

.infob {
  color: rgb(255, 255, 255);
  }